Checks: 'readability-*,portability-*,modernize-*,bugprone-*,performance-*,clang-analyzer-*,hicpp-*,cppcoreguidelines-*,misc-*,-misc-non-private-member-variables-in-classes,-cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-special-member-functions, -cppcoreguidelines-narrowing-conversions, -readability-avoid-magic-numbers, -readability-identifier-length'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*(iostream|bits/.*|__float128).*'
