name: Coverage

on:
  push:
  pull_request:

jobs:
  Coverage:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Install lcov
        run: sudo apt-get update && sudo apt-get install -y lcov
      
      - name: Configure
        run: cmake --preset coverage
      
      - name: Build
        run: cmake --build --preset coverage
      
      - name: Test
        run: ctest --preset coverage

      - name: Generate coverage report
        run: bash scripts/coverage.sh

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          fail_ci_if_error: true
          files: coverage.info
          token: ${{ secrets.CODECOV_TOKEN }}
