name: Linux

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        preset: [release-gcc, release-clang]

    steps:
      - uses: actions/checkout@v4

      - name: Install libc++
        if: matrix.preset == 'release-clang'
        run: | 
          sudo apt-get update
          sudo apt-get install -y libc++-dev libc++abi-dev

      - name: Configure
        run: cmake --preset ${{ matrix.preset }}

      - name: Build
        run: cmake --build --preset ${{ matrix.preset }}

      - name: Test
        run: ctest --preset ${{ matrix.preset }}
