name: Linux x86-64

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake --preset release-clang

      - name: Build
        run: cmake --build --preset release-clang

      - name: Test
        run: ctest --preset release-clang
